@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ABC Company</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customer Order Information</h2>
        <p>
            Use for customer database information regarding orders.
        </p>
        
    </div>
    
</div>